<!-- /.components -->
<section class="components block" id="components">
    <div class="wrap">
        <h2 class="title title-components">Helmion избавляет от всех видов паразитов</h2>
        <p class="subtitle-components">благодаря уникальной растительной формуле</p>

        <div class="components__wrap">
            <div class="components__item">
                <div class="components__group">
                    <div class="components__img components__img-1">
                        <img src="img/comp1.png" alt="малотус филипинский">
                    </div>
                    <div class="components__img components__img-2">
                        <img src="img/comp2.png" alt="эмбелия смородиновая">
                    </div>
                    <div class="components__img components__img-3">
                        <img src="img/comp3.png" alt="кора горького олеандра">
                    </div>
                </div>
                <p class="components__name">Маллотус филиппинский,<br> эмбелия смородиновая,<br> кора горького олеандра</p>
                <div class="components__line"></div>
                <p class="components__action">уничтожают все виды паразитов и их яйца</p>
            </div>
            <div class="components__item">
                <div class="components__group">
                    <div class="components__img components__img-1">
                        <img src="img/comp4.png" alt="Сыть круглая">
                    </div>
                    <div class="components__img components__img-2">
                        <img src="img/comp5.png" alt="сок граната">
                    </div>
                    <div class="components__img components__img-3">
                        <img src="img/comp6.png" alt="кассия трубчатая">
                    </div>
                </div>
                <p class="components__name">Сыть круглая, сок граната, кассия трубчатая</p>
                <div class="components__line"></div>
                <p class="components__action">восстанавливают иммунитет и&nbsp;заживляют поврежденные паразитами органы</p>
            </div>
            <div class="components__item">
                <div class="components__group">
                    <div class="components__img components__img-1">
                        <img src="img/comp7.png" alt="Гардения широколистная">
                    </div>
                    <div class="components__img components__img-2">
                        <img src="img/comp8.png" alt="корни одуванчика">
                    </div>
                    <div class="components__img components__img-3">
                        <img src="img/comp9.png" alt="кора горького олеандра">
                    </div>
                </div>
                <p class="components__name">Гардения широколистная,<br> корни одуванчика,<br> пижма</p>
                <div class="components__line"></div>
                <p class="components__action">создают устойчивость организма от повторного заражения</p>
            </div>
        </div>

        <p class="components__bottom">Растительные экстракты взаимно дополняют и усиливают друг друга в&nbsp;комплексе
            лечебных свойств</p>

    </div>
</section>
<!-- /.components -->