<section class="doctor block">
    <div class="wrap">
        <h2 class="title wow fadeInDown">
            “Когда я узнал про Helmion, я сначала рассмеялся.
            Но&nbsp;ознакомившись с исследованиями
            этого&nbsp;препарата - я был впечатлен!”
        </h2>
        <div class="doctor__cont">
            <div class="doctor__img">
                <img src="img/doctor.png" alt="doctor">
            </div>
            <div class="doctor__text">

                <p class="doctor__description">
                    Многие мои пациенты удивляются, откуда в них паразиты, ведь они
                    соблюдают гигиену и делают профилактические чистки организма
                    раз в год. Однако, в этом нет ничего удивительного. <span class="doctor__description_color">Ведь
                        чтобы
                        вывести всех паразитов вместе с их яйцами - нужно довольно
                        мощное средство, “бабушкина полынь” здесь не подойдет.</span> Однако,
                    даже если людям и удается найти такие средства, они остаются
                    с ослабленным иммунитетом, из-за которого организм, лишенный
                    защиты, довольно быстро повторно заражается.
                </p>
                <p class="doctor__description">
                    Когда я узнал про Helmion, я сначала рассмеялся, так как не мог
                    поверить, что он уничтожает всех паразитов, да ещё и иммунитет
                    восстанавливает, да ещё и защиту от заражения создает. Звучит
                    как сказка какая-то. <span class="doctor__description_color">Но ознакомившись с исследованиями
                        этого
                        препарата - я был впечатлен!</span> Согласно тестированиям МОЗ, из всех
                    растительных препаратов против разных видов паразитов свою
                    эффективность показал только Helmion.
                </p>
                <p class="doctor__description">
                    <span class="doctor__description_color">Helmion убивает все опасные виды паразитов, восстанавливает
                        ваш организм после вреда, который они нанесли, и дает
                        иммунитет от следующих заражений</span>. Благодаря безопасному растительному
                    составу, он подходит и взрослым, и детям.
                </p>
                <div class="doctor__border"></div>
                <p class="doctor__name">
                    Александр Воронин, врач-паразитолог
                </p>
                <p class="doctor__experience">
                    стаж работы: 32 года
                </p>
            </div>
        </div>
    </div>
</section>