<section class="infection block">
    <div class="wrap">
        <h2 class="title wow fadeInDown">
            Заражение паразитами приводит
            к сбою работы организма
        </h2>
        <div class="infection__result">
            <div class="infection__item wow fadeInDown" data-wow-delay="0.2s">
                <div class="infection__item-img">
                    <span class="infection__item-img_position">!</span>
                    <img src="img/infection__result-one.png" alt="the fall of immunity">
                </div>
                <div class="infection__item-description">
                    <h2 class="infection__item-title">
                        Ослабление
                        иммунитета
                    </h2>
                    <p class="infection__item-text">
                        вы простужаетесь
                        всё&nbsp;чаще
                    </p>
                </div>
            </div>
            <div class="infection__item wow fadeInDown" data-wow-delay="0.3s">
                <div class="infection__item-img">
                    <span class="infection__item-img_position">!</span>
                    <img src="img/infection__result-two.png" alt="indigestion">
                </div>
                <div class="infection__item-description">
                    <h2 class="infection__item-title">
                        Расстройство ЖКТ
                    </h2>
                    <p class="infection__item-text">
                        гельминты разрушают
                        стенки кишечника, у вас
                        появляется вздутие
                        и&nbsp;запоры
                    </p>
                </div>
            </div>
            <div class="infection__item wow fadeInDown" data-wow-delay="0.4s">
                <div class="infection__item-img">
                    <span class="infection__item-img_position">!</span>
                    <img src="img/infection__result-three.png" alt="failure nervouse system">
                </div>
                <div class="infection__item-description">
                    <h2 class="infection__item-title">
                        Сбой нервной
                        системы

                    </h2>
                    <p class="infection__item-text">
                        вы часто раздражаетесь
                        из-за отравления
                        токсинами паразитов
                    </p>
                </div>
            </div>
            <div class="infection__item wow fadeInDown" data-wow-delay="0.5s">
                <div class="infection__item-img">
                    <span class="infection__item-img_position">!</span>
                    <img src="img/infection__result-four.png" alt="exacerbation chronic diseases">
                </div>
                <div class="infection__item-description">
                    <h2 class="infection__item-title">
                        Обострение всех
                        хронических болезней
                    </h2>
                    <p class="infection__item-text">
                        ослабленный паразитами
                        организм неуклонно
                        разрушается

                    </p>
                </div>
            </div>
        </div>
        <p class="infection__conclusion">
            Заражение может привести к аллергиям, псориазу, болезням или отказу каждого
            пораженного органа, и&nbsp;даже смерти
        </p>
    </div>
</section>