<section class="others block">
    <div class="wrap">
        <h2 class="title">Если применять распространенные способы,<br> вам необходимы будут 2 препарата:</h2>
        <div class="others-content">
            <div class="others-content-box">
                <div class="others-content-box__title">5 пачек аптечных таблеток</div>
                <div class="others-content-box__subtitle">на 2 месяца лечения</div>
                <img class="others-content-box__img" src="img/other-pack1.png" alt="other">
                <div class="others-content-box__for">Для выведения паразитов и их яиц</div>
                <div class="others-content-box__price">от <span>2000</span>руб.</div>
            </div>
            <div class="others-content-sing">
            	<div class="others-content-sing__view">+</div>
            </div>
            <div class="others-content-box">
                <div class="others-content-box__title">3 упаковки пробиотиков</div>
                <div class="others-content-box__subtitle">на 1,5 месяца восстановление</div>
                <img class="others-content-box__img other-width" src="img/other-pack2.png" alt="other">
                <div class="others-content-box__for">Для восстановления иммунитета</div>
                <div class="others-content-box__price">от <span>1000</span>руб.</div>
            </div>
            <div class="others-content-sing others-content-sing2">
            	<div class="others-content-sing__view">=</div>
            </div>
            <div class="others-content-total">
            	<div class="others-content-total__price">от <span>7000</span>руб.</div>
            	<div class="others-content-total__subtitle">за курс <br>и 3,5 месяцев лечения</div>
            </div>
        </div>
        <div class="others-attention">ВНИМАНИЕ! Многие аптечные средства нельзя сочетать между собой. <br>Они могут вызвать непредвиденные результаты.</div>
    </div>
</section>