<section class="methods block">
  <div class="wrap">
    <div class="methods__title wow fadeInDown">
      Популярные методы лечения или дороги, или бесполезны
    </div>
    <div class="methods__wrap">
      <div class="methods__item wow fadeInDown" data-wow-delay="0.2s">
        <div class="methods__content">
          <div class="methods__image-block methods__image-block--first">
            <img src="img/methods_grass.png" class="methods__image methods__image--first" />
          </div>
          <div class="methods__item-title">Методы на травах</div>
          <div class="methods__text-block">
            <p class="methods__text">
              Благотворно влияют на иммунитет, мягко выводят паразитов, но
              действуют не на все виды.
            </p>
            <p class="methods__text">Также не влияют на вывод яиц паразитов.</p>
            <p class="methods__text bold">
              В течение месяца паразиты снова заполняют организм.
            </p>
          </div>
        </div>

        <div class="methods__conclusion-block">
          <div>
            <div class="bold methods__ttl">Малоэффективны:</div>
            практически невозможно подобрать нужный набор трав
          </div>
        </div>
      </div>
      <div class="methods__item wow fadeInDown" data-wow-delay="0.3s">
        <div class="methods__content">
          <div class="methods__image-block">
            <img src="img/methods_pills.png" class="methods__image methods__image--second" />
          </div>
          <div class="methods__item-title">Медикаменты</div>
          <div class="methods__text-block">
            <p class="methods__text">
              Выводят паразитов и их яйца, но подрывают иммунитет - поэтому
              ослабленный организм заражается снова в течение 2-х месяцев.
            </p>
            <p class="methods__text bold">
              Паразиты размножаются еще активнее.
            </p>
          </div>
        </div>

        <div class="methods__conclusion-block">
          <div>
            <div class="bold methods__ttl">Небезопасны:</div>
            требуют восстановления иммунитета
          </div>
        </div>
      </div>
    </div>
    <div class="methods__bottom-line">
      <div class="bold">В результате</div>
      вы тратите время, деньги, и можете подорвать здоровье
    </div>
  </div>
</section>