.header
	padding-top: 45px
	&__top
		display: flex
		align-items: center
	&__logo
		display: flex
		align-items: flex-start
	.logo
		margin-right: 25px
	.text
		color: #333333
		line-height: 1.25
	&__list
		display: flex
		justify-content: flex-end
