.how-to-use {
  background-image: url(../img/methods__bg.jpg);
  background-size: cover;
  background-position: center;
  padding: 40px 0;
}

.how-to-use__title {
  color: #313e47;
  font-weight: 900;
  font-size: 45px;
  text-align: center;
  margin-bottom: 70px;
}

.how-to-use__wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.how-to-use__item {
  width: 370px;
}

.how-to-use__image {
  width: 370px;
  height: 330px;
  border-radius: 5px;
  position: relative;
  background-color: #fff;
  margin-bottom: 25px;
  box-shadow: 0px 0px 15px 0px rgba(59, 117, 111, 0.15);
}

.how-to-use__first-pack {
  position: absolute;
  top: 50px;
  left: 40px;
  z-index: 2;
}

.how-to-use__cup {
  position: absolute;
  top: 70px;
  left: 140px;
  z-index: 1;
}

.how-to-use__item-title {
  font-size: 22px;
  color: #313e47;
  font-weight: 500;
  text-align: center;
  line-height: 1.3;
}

.how-to-use__girl {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}

.how-to-use__second-pack {
  position: absolute;
  bottom: 48%;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 2;
}

.how-to-use__items {
  position: absolute;
  bottom: 48%;
  left: 52%;
  transform: translate(-50%, 50%);
  z-index: 1;
}

.how-to-use__number {
  position: absolute;
  top: -23px;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  color: #fff;
  font-size: 30px;
  font-weight: 900;
  background-color: #199489;
  -webkit-box-shadow: 0px 0px 0px 7px rgba(189, 230, 226, 1);
  -moz-box-shadow: 0px 0px 0px 7px rgba(189, 230, 226, 1);
  box-shadow: 0px 0px 0px 7px rgba(189, 230, 226, 1);
}

.how-to-use__image:after {
  content: "";
  position: absolute;
  width: 30px;
  height: 5px;
  bottom: -5px;
  left: 50%;
  transform: translate(-50%);
}

.how-to-use__image--third:after {
  background-color: #f0c503;
}

.how-to-use__image--second:after {
  background-color: #199489;
}

.how-to-use__image--first:after {
  background-color: #fa8d6b;
}

@media (max-width: 1200px) {
  .how-to-use__item {
    width: 320px;
  }
  .how-to-use__image {
    width: 320px;
  }
  .how-to-use__first-pack {
    left: 10px;
  }
  .how-to-use__cup {
    left: 110px;
  }
  .how-to-use__girl {
    width: 290px;
  }
  .how-to-use__second-pack {
    left: 46%;
  }
  .how-to-use__items {
    left: 49%;
  }
  .how-to-use__item-title {
    font-size: 21px;
  }
  .how-to-use__title {
    font-size: 36px;
  }
}

@media (max-width: 1024px) {
  .how-to-use__wrap {
    justify-content: space-around;
  }
  .how-to-use__image {
    width: 280px;
    height: 300px;
    margin-bottom: 15px;
  }
  .how-to-use__item {
    width: 280px;
  }
  .how-to-use__first-pack {
    width: 120px;
  }
  .how-to-use__cup {
    width: 140px;
    left: 100px;
  }
  .how-to-use__girl {
    width: 250px;
  }
  .how-to-use__second-pack {
    width: 130px;
  }
  .how-to-use__item-title {
    font-size: 19px;
  }

  .how-to-use__title {
    font-size: 32px;
  }
  .how-to-use__item:nth-child(3) {
    margin-top: 50px;
  }
}
@media (width: 1024px) {
  .how-to-use__item:nth-child(3) {
    margin-top: 0px !important;
  }
}

@media (max-width: 768px) {
  .how-to-use {
    padding: 30px 0;
  }
  .how-to-use__item:nth-child(3) {
    margin-top: 0;
    margin-bottom: 0;
  }
  .how-to-use__item {
    margin-bottom: 50px;
  }
  .how-to-use__title {
    font-size: 29px;
  }
}

@media (max-width: 480px) {
  .how-to-use {
    padding: 25px 0;
  }
  .how-to-use__title {
    font-size: 26px;
  }
}
